.result {
    color: hotpink;
    font-size: 120x;
    font-family: 'verdana';
    font-weight: 200px;
}

.a {
    color: #546E7A;
    font-size: 18px;
    font-family: 'font-family: "Noto Sans, sans-serif';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    
}
.home {
    color: Gray;
    font-size: 20px;
    font-family: "Noto Sans, sans-serif";
    font-style: normal;
    text-decoration: none;
}
.title {
    color: Teal;
    font-size: 28px;
    font-family: 'Verdana';
    text-decoration: none;
    border-style: dashed;
    border-color: black;
}