.result {
    color: #026178;
    font-size: 120x;
    font-family: 'verdana';
    font-weight: 200px;
}

.a {
    color: #F25E74;
    font-size: 18px;
    font-family: 'font-family: "Noto Sans, sans-serif';
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.home {
    color:#F25E74;
    font-size: 20px;
    font-family: "Trebuchet MS, sans-serif";
    font-weight: 300px;
    text-decoration: none;
}

.title {
    color: #b2d8d8;
    font-size: 28px;
    font-family: 'Verdana';
    text-decoration: none;
    border-style: dashed;
    border-color: black;
}
